@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.changeColorNavbar {
  color: red;
}

.dark-mode {
  background-color: #171717;
  color: #fff;
}

.dark-mode-sun {
  color: #fff !important;
}

.dark-mode-blackText {
  color: #000 !important;
}

.dark-mode-bg {
  background-color: #100f19 !important;
  fill: #151421 !important;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.header {
  background-image: url(../../images/yellow_top_wave_01.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header .navbar-nav li a {
  font-weight: 500;
}

.header .navbar .form-inline button {
  border-radius: 5rem;
  border: 1px solid #b21980;
  color: #b21980;
}

.header .navbar .form-inline button:hover {
  background-color: #b21980;
  color: #fff;
}

.carousel-about p {
  color: #b21980;
}

.carousel-about h1 {
  font-weight: 700;
  font-size: 4rem;
}

.customer {
  background-image: url(../../images/Violet_top_left_wave.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.customer-item {
  border-radius: 0.5rem;
}

.customer-item .customer-item__content-table {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.customer-item .customer-item__content-table:hover {
  -webkit-box-shadow: #26394d 0px 20px 30px -10px;
          box-shadow: #26394d 0px 20px 30px -10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.customer-item .customer-item__content-table .customer-item__img img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  max-width: 100%;
}

.customer-item .customer-item__content-table .customer-item__content {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #fff;
}

.customer-item .customer-item__content-table .customer-item__content span {
  color: #b21980;
  font-size: 0.8rem;
  font-weight: 600;
}

.customer-item .customer-item__content-table .customer-item__content h3 {
  font-weight: 600;
}

.course {
  background-image: url(../../images/accent_bottom_wave_01.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.course-img img {
  max-width: 100%;
}

.course-form {
  background-color: #fff;
  height: 100%;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
}

.course-form form h1 {
  text-align: center;
}

.course-form form button {
  color: #fff;
  border: none;
  border-radius: 4rem;
  font-weight: 600;
  padding: 0.8rem 4rem;
  background-color: #b21980;
}

.footer {
  background-image: url(../../images/footer_background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-list {
  color: #fff;
}

.footer-list__item.item2 p, .footer-list__item.item3 p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.footer-list__item.item4 input {
  border-radius: 5rem;
  height: 3rem;
  text-align: center;
}

.footer-list__item.item4 button {
  color: #fff;
  border: none;
  border-radius: 4rem;
  font-weight: 600;
  padding: 0.8rem 5rem;
  background-color: #b21980;
}

.footer-list__item.item4 button:hover {
  color: rgba(0, 0, 0, 0.685);
  background-color: #fff;
}
/*# sourceMappingURL=main.css.map */